APP_NAME=ERONYX
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/eronyx/public

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=eronyx
DB_USERNAME=root
DB_PASSWORD=

SESSION_NAME=eronyx_session

MAIL_MAILER=array
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=ERONYX
MAIL_TIMEOUT=10